@tailwind base;
@tailwind components;
@tailwind utilities;


@layer table {
  tr {
    background: linear-gradient(90deg, 50%, transparent 50%);
  }
  
  td {
    @apply p-3 relative z-10;
  }

  th {
    @apply font-thin p-0 px-5 text-base;
  }
}

@keyframes changewidth {
  from {
    right: 0;
  }

  to {
    right: 10%;
  }
}

.freyff{
  inset: 0%;
  transition: right 0.1s linear;
  animation-duration: 1s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
