@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --margin: 0%;
}

@layer table {
  tr {
    background: linear-gradient(90deg, 50%, transparent 50%);
  }
  
  td {
    @apply p-3 relative z-10;
  }

  th {
    @apply font-thin p-0 px-5 text-base;
  }
}

@keyframes changewidth {
  from {
    right: 0%;
  }

  25% {
    right: 0%;
  }

  35% {
    right: var(--margin);
  }

  90% {
    right: var(--margin);
  }

  to {
    right: 0%;
  }
}

.dpsbar{
  inset: 0%;
  animation-duration: 3s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: var(--animps, running);
}

/*
#settings {
  visibility: hidden;
}*/